@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import "tailwindcss";
@import "@nuxt/ui";
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

:root {
  font-family: 'Manrope', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow: hidden;
}

@theme {
  --color-steak-50: #faf5f0;
  --color-steak-100: #f4e4d8;
  --color-steak-200: #e8c9b1;
  --color-steak-300: #d9a88a;
  --color-steak-400: #c97a5c;
  --color-steak-500: #b85a3f;
  --color-steak-600: #a03d2a;
  --color-steak-700: #882a1f;
  --color-steak-800: #6b1f18;
  --color-steak-900: #541810;
  --color-steak-950: #3d0f0a;

  --color-red-50: #fef2f2;
  --color-red-100: #fee2e2;
  --color-red-200: #fecaca;
  --color-red-300: #fca5a5;
  --color-red-400: #f87171;
  --color-red-500: #ef4444;
  --color-red-600: #dc2626;
  --color-red-700: #b91c1c;
  --color-red-800: #7f1d1d;
  --color-red-900: #581c1c;
  --color-red-950: #3b0f0f;
}


